<%= form_for @game, url: {action: "create"}, html: {class: "form-inline"} do |f| %>
  <div class="col-md-4">
    <% if @game.errors.any? %>
      <div id="error_explaination">
        <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
        <ul>
          <% @game.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.label :my_score %>:
    <%= f.number_field :my_score, in: 1.0..5.0, step: 1.0, class: "form-control" %>
    <%= f.label :opponent %>:
    <%= f.select(:opponent, User.all.collect { |u| [ u.first_name, u.id ] }, {}, {:class => "form-control"}) %>
    <%= f.label :opponent_score %>:
    <%= f.number_field :opponent_score, in: 1.0..5.0, step: 1.0, class: "form-control" %>
    <%= f.submit "Save" %>
  </div>
<% end %>
